#action-panel {
    -fx-min-height: 200px;
}

#label {
    -fx-font-size: 14px;
}

#card-time-label {
    -fx-font-weight: bold;
}

#action-panel-root {
    -fx-padding: 15;
    -fx-pref-height: 200;
}

#card-root {
    -fx-pref-height: 180;
    -fx-alignment: center;
}

#card-box {
    -fx-pref-height: 100;
    -fx-alignment: center;

}

#card-time-box {
    -fx-alignment: center;
}

#card-info-box {
    -fx-pref-height: 75;
    -fx-pref-width: 125;
    -fx-max-height: 75;
    -fx-max-width: 200;
    -fx-min-width: 125;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 2;
}

#card-arrow-box {
    -fx-pref-width: 48px;
    -fx-pref-height: 75;
    -fx-max-height: 75;
    -fx-background-image: url('http://icons.iconarchive.com/icons/icons8/windows-8/48/Editing-Arrow-icon.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
