.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background:  rgb(50, 50, 50);
    -fx-focus-color: transparent;
}

.constraints-vbox {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.dark-slider {
    -fx-min-width: 200px;
    -fx-max-width: 200px;
}

.dark-slider .track {
    -fx-background-color: null;  /* Hide the track */
}

.dark-slider .thumb {
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 65%, rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.5));
}

.dark-slider-progress-bar {
    -fx-min-width: 200px;
    -fx-max-width: 200px;
}

.dark-slider-progress-bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.30em;
}

.dark-slider-progress-bar > .track {
    -fx-control-inner-background: gray;
}

.dark-slider-hbox {
    -fx-spacing: 10px;
}

.dark-slider-vbox {
    -fx-spacing: 5px;
}

.dark-text-field {
    -fx-min-width: 280px;
    -fx-max-width: 280px;
    -fx-border-color: gray;
    -fx-background-color: rgb(35, 35, 35);
    -fx-background-insets: 0, 0 1 0 1;
    -fx-prompt-text-fill: rgb(150, 150, 150);
}

.dark-header-label {
    -fx-text-fill: orange;
}

.dark-box-label {
    -fx-min-width: 50px;
    -fx-max-width: 50px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 24px;
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-background-color: rgb(35, 35, 35);
}

.scroll-bar{
     -fx-background-color: rgb(96,96,96);
     -fx-background-radius: 2em;
     -fx-unit-increment: 5 ;
     -fx-block-increment: 20 ;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
     -fx-background-color: transparent;
     -fx-border-color:transparent;
     -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
     -fx-background-color: transparent;
     -fx-background-insets: 0;
     -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
     -fx-background-color: rgb(211,211,211);
     -fx-background-insets: 4 0 4 0;
     -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
     -fx-background-color: rgb(211,211,211);
     -fx-background-insets: 0 4 0 4;
     -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
     -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
     -fx-background-color: rgb(255,255,255);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
     -fx-background-color:transparent;
     -fx-background-radius: 2em;
     -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
     -fx-background-color:transparent;
     -fx-background-radius: 2em;
     -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
     -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
     -fx-background-color: rgb(211,211,211);
     -fx-padding: 0.25em;
     -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
     -fx-background-color: rgb(211,211,211);
     -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
     -fx-padding: 0.25em;
     -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
     -fx-background-color: rgb(211,211,211);
     -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
     -fx-padding: 0.25em;
     -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
     -fx-background-color: rgb(211,211,211);
     -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
     -fx-padding: 0.25em;
     -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
     -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

.constraint-grid {
    -fx-vgap: 10px;
}

.dark-add-location-button,
.dark-remove-location-button,
.dark-optimize-button,
.dark-reset-button,
.dark-run-button,
.dark-pause-button,
.dark-stop-button {
    -fx-border-color: gray;
    -fx-pref-height: 40px;
    -fx-alignment: BASELINE_LEFT;
    -fx-text-fill: rgb(150, 150, 150);
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.dark-add-location-button {
    -fx-graphic: url('Icons/add.png');
}

.dark-remove-location-button {
    -fx-graphic: url('Icons/remove.png');
}

.dark-optimize-button {
    -fx-graphic: url('Icons/optimize.png');
}

.dark-reset-button {
    -fx-graphic: url('Icons/reset.png');
}

.dark-run-button {
    -fx-graphic: url('Icons/run.png');
}

.dark-pause-button {
    -fx-graphic: url('Icons/pause.png');
}

.dark-stop-button {
    -fx-graphic: url('Icons/stop.png');
}

.dark-location-button-box {
    -fx-spacing: 0px;
}

.dark-location-header-label {
    -fx-min-width: 120px;
    -fx-max-width: 120px;
    -fx-pref-height: 30px;
}

.dark-location-label {
    -fx-min-width: 30px;
    -fx-max-width: 30px;
    -fx-pref-height: 30px;
    -fx-text-fill: orange;
}

.dark-location-field {
    -fx-min-width: 120px;
    -fx-max-width: 120px;
    -fx-pref-height: 30px;
    -fx-border-color: gray;
    -fx-background-color: rgb(35, 35, 35);
}

.dark-location-field > .text-field {
    -fx-background-color: rgb(35, 35, 35);
}

.dark-location-hbox {
    -fx-spacing: 5px;
}

.dark-location-vbox {
    -fx-spacing: 5px;
}

.valid {
    -fx-background-image: url('http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/16/Actions-dialog-ok-apply-icon.png');
    -fx-background-position: right center;
    -fx-background-repeat: no-repeat;
}

.invalid {
    -fx-background-image: url('http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/16/Actions-edit-delete-icon.png');
    -fx-background-position: right center;
    -fx-background-repeat: no-repeat;
}

/* List Panel */

.card-info-box {
    -fx-min-width: 140px;
    -fx-max-width: 140px;
    -fx-min-height: 120px;
    -fx-max-height: 120px;
    -fx-alignment: center;
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-background-color: rgb(35, 35, 35);
}

.card-list-hbox {
    -fx-spacing: 10px;
    -fx-alignment: center-left;
    -fx-padding: 0 10 0 10;
}

.event-hatch-open {
    -fx-background-color:rgb(0, 256, 0);
}

.event-hatch-close {
    -fx-background-color:rgb(256, 0, 0);
}

.event-payload-launch {
    -fx-background-color:rgb(0, 0, 256);
 }

.event-payload-arrival {
    -fx-background-color:rgb(256, 256, 0);
}

.tab-pane .tab {
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-width: 1px;
}

.tab-pane .tab:selected {
    -fx-background-color: rgb(35, 35, 35);
    -fx-border-color: gray gray orange gray;
    -fx-border-width: 1 1 2 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}