.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background:  rgb(50, 50, 50);
}

.constraints-vbox {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.dark-slider {
    -fx-min-width: 200px;
    -fx-max-width: 200px;
}

.dark-slider .track {
    -fx-background-color:null;  /* Hide the track */
}

.dark-slider .thumb {
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 65%, rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.5));
}

.dark-slider-progress-bar {
    -fx-min-width: 200px;
    -fx-max-width: 200px;
}

.dark-slider-progress-bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.30em;
}

.dark-slider-progress-bar > .track {
    -fx-control-inner-background: gray;
}

.dark-slider-hbox {
    -fx-spacing: 10px;
}

.dark-slider-vbox {
    -fx-spacing: 5px;
}

.dark-slider-label {
    -fx-text-fill: white;
}

.dark-slider-name-label {
    -fx-text-fill: orange;
}

.dark-text-field {
    -fx-border-color: gray;
    -fx-background-color: rgb(35, 35, 35);
    -fx-background-insets: 0, 0 1 0 1;
}

.dark-header-label {
    -fx-text-fill: orange;
}

.scroll-bar{
     -fx-background-color: rgb(96,96,96);
     -fx-background-radius: 2em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
     -fx-background-color: transparent;
     -fx-border-color:transparent;
     -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
     -fx-background-color: transparent;
     -fx-background-insets: 0;
     -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
     -fx-background-color: rgb(211,211,211);
     -fx-background-insets: 4 0 4 0;
     -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
     -fx-background-color: rgb(211,211,211);
     -fx-background-insets: 0 4 0 4;
     -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
     -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
     -fx-background-color: rgb(255,255,255);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
     -fx-background-color:transparent;
     -fx-background-radius: 2em;
     -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
     -fx-background-color:transparent;
     -fx-background-radius: 2em;
     -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
     -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
     -fx-background-color: rgb(211,211,211);
     -fx-padding: 0.25em;
     -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
     -fx-background-color: rgb(211,211,211);
     -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
     -fx-padding: 0.25em;
     -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
     -fx-background-color: rgb(211,211,211);
     -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
     -fx-padding: 0.25em;
     -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
     -fx-background-color: rgb(211,211,211);
     -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
     -fx-padding: 0.25em;
     -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
     -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}
