#action-panel {
    -fx-min-height: 150px;
}

.label {
    -fx-font-size: 14px;
}

.card-time-label {
    -fx-font-weight: bold;
}

#action-panel-root {
    -fx-padding: 15;
    -fx-pref-height: 150;
}

#card-root {
    -fx-pref-height: 130;
    -fx-alignment: center;
}

#card-box {
    -fx-pref-height: 110;
    -fx-alignment: center;

}

.card-time-box {
    -fx-alignment: center;
}

.card-info-box {
    -fx-pref-height: 50;
    -fx-pref-width: 120;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 2;
}

.card-arrow-box {
    -fx-pref-width: 48px;
    -fx-background-image: url('http://icons.iconarchive.com/icons/icons8/windows-8/48/Editing-Arrow-icon.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
